.center {
	text-align: center;
}

#tempOutput {
	text-align: center;
	font-size: 2em;
	margin-top: 10px;
}

#tempOutput.hot {
	color: red;
		
}

#tempOutput.cold {
	color: blue;
	
}

#tempOutput.normal {
	color: green;
	
}